body
{
	font-family: 'Helvetica', Arial;
	content: #555;
	font-size: .95em;
}

.example
{
	margin: 5em auto;
}

h1, h2, h3
{
	font-weight: normal;
	color: #444;
}

button
{
	font-family: 'Helvetica', Arial;
	box-shadow: none;
	color: #555;
	font-weight: 600;
	font-size: .75em;
	letter-spacing: .2px;
	border: 1px solid #ccc;
	padding: .9em 1.5em;
	background-color: #fafafa;
	border-radius: 2px;
	cursor: pointer;
	margin-right: 7px;
	display: inline-block;
	opacity: .95;
}

.btn-group
{
	letter-spacing: -4px;
}

.btn-group button
{
	margin-right: 0px;
	letter-spacing: 0px;
	border-radius: 0px;
	border-right-width: 0px;
}

.btn-group button:last-child
{
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-right-width: 1px;
}

.btn-group button:first-child
{
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

button:focus
{
	outline: none;
}

button:hover
{
	box-shadow: 0px 0px 4px #c9c9c9;
	opacity: 1;
}

pre,
pre.hljs
{
	font-size: 1.05em;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-radius: 2px;
	padding: 14px 16px;
	background-color: #f3f3f3;
	box-shadow: 1px 1px 1px #aaa inset;
	-moz-tab-size: 4;
	-o-tab-size:   4;
	tab-size:      4;
}

.tabularInput-table
{
	margin: 12px 0px;
}