@keyframes flipDown {
	from {
		transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotateX(90deg);
		background-color: #fafafa;
	}
	to {
		transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotateX(0deg);
		background-color: inherit;
	}
}

@keyframes flipUp {
	from {
		transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotateX(0deg);
		opacity: 1;
		background-color: inherit;
	}
	to {
		transform: translate3d(0, 0, 0) scaleX(1) scaleY(1) rotateX(-90deg);
		opacity: 0;
		background-color: #fafafa;
	}
}

.tabularInput-table
{
	border-collapse: collapse;
	max-width: 100%;
}

.tabularInput-table tbody
{
	max-width: 100%;
	width: 100%;
}

.tabularInput-table.animate td
{
	transition: width .1s;
}

.tabularInput-table td input
{
	margin: 0px 0 -1px 0;
	padding: .5em .9em;
	transition: box-shadow .1s;
	width: 100%;
	font-size: 90%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	border-right-width: 0px;
}

.tabularInput-table td:last-child
{
	border-right: 1px solid #ddd;
}

.tabularInput-table tr.animate-add td:last-child,
.tabularInput-table tr.animate-remove td:last-child
{
	border-right-width: 0px;
}

.tabularInput-table tr.animate-add td:last-child input,
.tabularInput-table tr.animate-remove td:last-child input
{
	border-right-width: 1px;
}

.tabularInput-table td input:focus
{
	box-shadow: 0px 0px 4px 2px #A1C2F3;
	border-color: transparent;
	outline: none;
	z-index: 1;
	position: relative;
}
.tabularInput-table tr.animate-add,
.tabularInput-table tr.animate-remove
{
   -webkit-perspective: 500;
   -moz-perspective: 500;
   -ms-perspective: 500;
   perspective: 500;
}
.tabularInput-table.animate tr.animate-add input
{
	transform-origin: 0% 0%;
	animation: flipDown .25s ease-in;
}

.tabularInput-table.animate tr.animate-remove input
{
	transform-origin: 0% 0%;
	animation: flipUp .25s ease-in;	
}

.tabularInput-table th
{
	padding: .5em .9em;
	font-size: 95%;
	background-color: #fafafa;
	font-weight: normal;
}

.tabularInput-table th
{
	border: 1px solid #ddd;
	border-bottom-width: 0px;
}
